@{ 
    ViewBag.Title = "Posts";
}
@section Scripts
{
    <script>
    alert("hi");
    </script>
}

    <h1>PostsIndex</h1>
    <a href=@Url.RouteUrl("login")>click here</a>to login;

    <p>
        @Html.RouteLink("clickhere","login") to login!
    </p>
